body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#img
{
  width: 21rem;
}
.card{
  margin:auto;
}
.cards
{
  margin:50px 6vw ;
}
.h-vision
{
 text-align: center;
 color:#487107;
 font-size: 60px;
}
.card-title2
{
  font-size: 40px;
  text-align: center;
}
.card-text2
{
  font-size:25px;
}
.imgs
{
 display:flex;
 align-items: center;  
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 color:white;
 font-size:40px;
 color: rgb(190, 190, 14);
 color:black;
 background-color: rgb(220, 230, 104);
}
.xyz{
  width: 850px;
  height:350px;
}
.text {
  font-size: 70px;
}
img {
  max-width: 100%;
  max-height:100%;
}
.main{
  text-align: center; 
  margin:auto; 
  width:80%;
  height:50%;
}
.logo{
  /* display:inline; */
  width: 6.5vw;
  height:5vw;
  margin:auto;
}
.nav-item{
  font-size:30px;
  background-color: #487107;
  color:white;
  margin:auto;
}
.container-fluid
{
  background-color: #487107;
}
.nav-link-span {
  color:white;
  background-color: #487107;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link-span:hover{
  color:rgb(190, 190, 14);
}
.color{
  background-color:#487107;
  display: inline;
}
.mar{
  font-size:30px;
  background-color: #487107;
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.vision{
  background-color: white;
  color:white;
  text-align:center;
}
.Why{
  color: white;
  background-color:#487107;
   margin:0px 20px 50px 20px; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  border:4px solid black;
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 font-size:80px;
}
.abc{
  color: #487107;    
  font-size:70px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tractor{
  width:520px;
  height:420px;
}
.benefits{
  text-align: center;
  color:#487107;
  font-size:70px;
  }
.card-group
{
  margin:30px 3vw;
}
.carg-img-top
{
  height:90px;
  width:100px;
}
.full{
   background-color: white;  
}
.h-why{
  color:#487107;;
  font-size:70px;
  text-align:center;
} 
.vision{
  color:white; 
  font-size: 60px;
}
.about{
  margin:50px 20px 50px 20px;
  border:4px solid black;
}
.contact{
  background-color: white;
  font-size: 50px;
  text-align: center;
  margin:15px;
}
.c{
  width:200px;
  height:150px;
}
.c_logo{
 display:flex;
 align-items: center;  
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}
.us{
  background-color: #487107;
  color:white;
}
.actual-email{
  color:black;
  font-size: calc(max(20px,1.5vw));
}
.challenge{
  font-size: 25px;
}
.the
{
  background-color: #487107;
  color:white;
  font-size: 40px;
  font-family:serif;
}
.drawbacks
{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
}
.card-title{
  text-align: center;
}
#img
{
  width:310px;
  margin:2vw;
}
.h-draw
{
  text-align:center;
  font-size: 55px;
  background-color: #487107;
  color:white;
}
.text-center-p4
{
 background-color: rgba(0, 0, 0, 0.05);
}
.map 
{
  width:calc(max(250px,35vw));
  height:calc(max(250px,25vw));
}
.form
{ 
  border:2px solid #487107; 
  margin: 0px 8vw;
  align-items: center;
  text-align: center;
  /* background-color:rgb(214, 224, 230); */
   /* rgb(225, 228, 216); */
}

.contact-pic{
  height:430px;
  width:550px;
}
.form-group{
  width:calc(max(280px,50vw));
}
.col-sm-10
{
  margin:auto; 
  color: green;
}
.btn-primary
{
  color: green;
}
.msg 
{
  height:100px;
  width:150px;
}

