/*colors*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


$primary-color: #FF08FF;
$secondary-color: #5408FF;


$black: #11111C;
$body-text-color: #ffffff;

/* Font sizes */
$font_body_size: 18px;
$font_lg: 56px;
/* End */

/* Font familys */
$primary_font: 'Quicksand', sans-serif;
$secondary_font: 'Dosis', sans-serif;
/* End */


$shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.30);
$light_shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.15);

$radius: 10px;

@mixin cover_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin title_styles {
  font-size: $font_lg;
  font-family: $secondary_font;
  color: #000000;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2.8px;
  text-align: left;
  
  small,
  span,
  .subtitle {
    font-size: 20px;
    line-height: 25px;
    font-family: $secondary_font;
    font-weight: 300;
    color: $primary-color;
    display: block;
  }
  
  @media (max-width: 575px) {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1.8px;
  }
}

@mixin text_styles {
  font-family: $secondary_font;
  font-weight: 400;
  font-size: $font_body_size;
  color: $body_text_color;
  line-height: 40px;
  letter-spacing: 1.35px;
  
  @media (max-width: 575px) {
    line-height: 32px!important;
  }
}

@mixin owl_dots_styles($color: $primary-color) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  
  .owl-dot {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 15px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #DCD9D2;
    transition: all, .2s;
    
    &:hover, &.active, &.selected {
      width: 7px;
      height: 7px;
      background-color: $color;
      
      &::before {
        position: absolute;
        content: '';
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        border-radius: 50%;
        border: 1px solid $color;
        background-color: transparent;
      }
    }
  }
}


.content_title {
  position: relative;
  margin: 0 auto 40px;
  
  .banner_section_title & {
    margin-bottom: 0;
  }
  
  .title {
    @include title_styles;
  }
}

.desc {
  margin: 15px auto 10px;
  @include text_styles;
}


@mixin btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  text-align: center;
  padding: 0 25px;
  height: 50px;
  border-radius: 35px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: $font_body_size;
  font-family: $primary_font;
  transition: all .5s;
  cursor: pointer;
  
  > i {
    display: none;
  }
  
  &.has_icon {
    padding-left: 70px;
    
    i {
      display: block;
      margin-right: 30px;
      font-weight: 300;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      opacity: 1;
      max-width: 50px;
      transition: all .4s;
      
      &::after {
        position: absolute;
        content: '';
        width: 1px;
        background-color: white;
        top: -16px;
        bottom: -16px;
        right: -15px;
      }
    }
  }
  
  &::after {
    display: inline-block;
    content: '\f061';
    width: 0;
    height: 25px;
    z-index: 1;
    background-repeat: no-repeat;
    margin-left: 0;
    overflow: hidden;
    transition: all .5s;
  }
  
  &:hover {
    &.has_icon {
      padding-left: 25px;
      
      i {
        margin-right: 0;
        max-width: 0;
        opacity: 0;
      }
    }
    
    &::after {
      width: 25px !important;
      margin-left: 15px;
    }
  }
}

.btn_primary {
  @include btn;
  background-color: $primary-color;
  color: white;
  
  &:hover {
    a, i {
      color: white;
    }
  }
}

/* End utils */

.picture_wrapper {
  position: relative;
  
  img {
    @include cover_image;
  }
}
//end
body{
  background: $black;
}

.banner_destacados_wrapper {
  padding: 0 0 70px;
  margin: 0 0 70px;
  
  .top_banner {
    margin-bottom: 50px;
    
    .content_title {
      .title {
        text-align: center;
        color: white;
      }
    }
  }
  
  .gallery_wrapper {
    .owl-stage-outer {
      .owl-stage {
        display: flex;
        align-items: center;
        
        .owl-item {
          .item {
            position: relative;
            height: 400px;
            overflow: hidden;
            //transition: all .5s;
            
            img {
              @include cover_image;
            }
  
            .content_wrapper {
              z-index: 1;
              position: absolute;
              height: auto;
              bottom: 30px;
              left: 30px;
              right: 30px;
              width: 320px;
              min-width: 320px;
              color: white;
              overflow: hidden;
    
              .content_title {
                margin-bottom: 0;  
                
                .title {
                  font-size: 22px;
                  line-height: 25px;
                  color: white;
                  text-align: left;
        
                  small {
                    font-size: 12px;
                    line-height: 14px;
                    color: white;
                    font-weight: bold;
                    display: none;
                  }
                }
              }
              
              .desc {
                line-height: 24px;
                max-height: 0;
                overflow: hidden;
                margin-bottom: 0;
                transition: all .7s;
              }
            }
  
            .links_wrapper {
              z-index: 1;
              display: inline-block;
              position: absolute;
              bottom: 30px;
              right: 30px;
              transform: translateX(calc(100% + 35px));
              transition: all .5s;
            }
  
            &::before {
              position: absolute;
              content: '';
              top: -300px;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgb(0,0,0);
              background: linear-gradient(0deg, rgba(0,0,0,0.8183648459383753) 0%, rgba(0,0,0,0) 100%);
              opacity: .6;
              transition: all .5s;
            }
          }
          
          &.active {
            width: 380px!important;
            transition: width 0.5s;
            
            &.center {
              width: 600px!important;
  
              .item {
                height: 500px;
    
                img {
                  @include cover_image;
                }
                
                .content_wrapper {
                  .content_title {
                    .title {
                      font-size: 38px;
                      line-height: 40px;
                      
                      small {
                        display: block;
                      }
                    }
                  }
                }
                
                .links_wrapper {
                  transform: translateX(0);
                  transition-delay: .6s;
                }
                
                
  
                &::before {
                  top: 300px;
                  opacity: 1;
                }
              }
              
              &:hover {
                .item {
                  .content_wrapper {
                    .desc {
                      max-height: 500px;
                      overflow: hidden;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .owl-dots {
      @include owl_dots_styles($primary-color);
    }
  }
}